.h1{
  font-weight: bold;
  color: #000;
  font-size: 92px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}